<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

  <div class="header">
    <img src="https://www.goodfreephotos.com/albums/vector-images/pig-vector-art.png" class="header__icon"
      alt="Pig Icon" />
    <h1 class="header__title">Pig Latin</h1>
  </div>

  <div class="center">
    <h1>Iniciar Sesion</h1>
    <form name="form" >
      <div class="txt_field">
        <input type="text" id="nombre">
        <label for="nombre">Usuario: </label>
      </div>
      <div class="txt_field">
        <input type="password" id="password" autocomplete="">
        <label for="password"> Contraseña: </label>
      </div>
      <input type="button" value="Iniciar" id="blogin">
    </form>
  </div>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script type="module" src="../js/appUsuario.js"></script>
</body>

</html>