<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/admin.css">

    <title>PantallaAdmi</title>
</head>


<body>
    <div class="left">
        <input type="button" value="Crear Nivel" id="bcrearNivel">
        <br>
        <br>
        <h1 style="text-align: center;color: black;">O</h1>
        <form action="">
            <input type="button" value="Actualizar Nivel" id="blogin">
            <br>
            <br>
            <input class="input" type="text" placeholder="Escriba el Nro de Nivel" required>
            <input type="button" value="Jugar" id="blogin">
        </form>
    </div>
    <div class="right">
        <h1>Formulario</h1>
        <div class="txt_field">
            <label for="nroNivel">Nro Nivel</label>
            <input type="text" id="nroNivel">
        </div>
        <br>
        <div class="txt_field">
            <label for="tiempoMax">Tiempo Maximo</label>
            <input type="text" id="tiempoMax">
        </div>
        <br>
        <div class="txt_field">
            <label for="cantidadPal">Cantidad de Palabra</label>
            <input type="text" id="cantidadPal">
        </div>

      

    </div>
    <script type="module" src="../js/appNivel.js"></script>
</body>

</html>