<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="header">
        <img src="https://www.goodfreephotos.com/albums/vector-images/pig-vector-art.png" class="header__icon"
            alt="Pig Icon" />
        <h1 class="header__title">Pig Latin</h1>

    </div>

    <div class="center" style="height: 25%;">
        <h1>Ingrese su nombre </h1>
        <form action="">
            <div class="txt_field">
                <input type="text" id="nombre">
                <label for="nombre">Nombre: </label>
            </div>
            <input type="button" id="bjugar" value="Jugar" >
        </form>
    </div>
    <script type="module" src="../js/appUsuario.js"></script>
</body>

</html>