<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pig Latin</title>
    <link rel="stylesheet" href="../styles/styles.css" />
</head>

<body>
    <div class="container">
        <header class="header">
            <img src="https://www.goodfreephotos.com/albums/vector-images/pig-vector-art.png" class="header__icon" alt="Pig Icon" />
            <h1 class="header__title">Pig Latin</h1>
        </header>

        <h1 class="countdown" id="countdown"></h1>

        <a href="#" class="btn btn-green" id="bgeneraroPalabra">Obtener Palabra Aleatoria</a>
        <p class="parrafo" id="palabra">Esta es la palabra aleatoria</p>
        <select id="opcionesSelect" class="list"></select>

        <a href="#" class="btn btn-red" id="bcomprobarSolucion">Comprobar Solucion</a>
        <br />
        <!--  <span id="textoSeleccionado"></span> -->
        <br />

        <!-- <button onclick="redi()">volver a iniciar sesion</button>
      <button onclick="tablaganadores()">Tabla de ganadores</button> -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script type="module" src="../js/appPartida.js"></script>
    </div>
</body>

</html>